<div
 class="container"
>
<div class="box">

  <input  [(ngModel)]="searchQuery" type="text" placeholder="Search...">
   <a href="#">
    <i class="fa-solid fa-magnifying-glass" style="color: #316BB3;"></i>
   </a>
</div>

<div class="pokemon-list-container">

  @if(filteredPokemons) {

    @if(filteredPokemons.length > 0) {
      <div class="pokemon-list">
        @for ( pokemon of filteredPokemons; track $index) {
           <div
             (click)="onClik(pokemon)"
             [ngClass]="{ 'selected': selectedPokemonId === pokemon.id }"
             class="pokemon-item"
           >
             <img [src]="pokemon.image" [alt]="pokemon.name" />
             <span>{{ pokemon.name }}</span>
           </div>
         }
       </div>
    }@else {
      <h3 style="text-align: center;">Not found</h3>
    }

  }@else {
    <div class="pokemon-list">
      @for ( pokemon of pokemons; track $index) {
         <div
           (click)="onClik(pokemon)"
           [ngClass]="{ 'selected': selectedPokemonId === pokemon.id }"
           class="pokemon-item"
         >
           <img [src]="pokemon.image" [alt]="pokemon.name" />
           <span>{{ pokemon.name }}</span>
         </div>
       }
     </div>
  }

</div>


</div>

