/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  overflow: hidden;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  width: 100vw;
  height: 100vh;
  background-color:  #031b43;

}
